body {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

#header {
    border: 1px solid #000000;
    height: 85px;
}

#main {
    position: relative;
    margin-top: 5px;
}

#content {
    border: 1px solid #000000;
}

#banner {
    font-size: 35px;
}