*.class
*~
.*.swp
.*.swo
.loadpath
.buildpath
.checkstyle
.pmd
.pmdruleset
.pmdruleset.xml
.project
.settings
.classpath
.metadata
dependency-reduced-pom.xml
.idea
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
nbactions.xml
samples/gwt-demo/src/main/webapp/WEB-INF/classes/
samples/gwt-chat/src/main/webapp/WEB-INF/classes/
samples/gwt-conn-share/src/main/webapp/WEB-INF/classes/
atlassian-ide-plugin.xml
