.fileToUpload,
.fileToUploadClose,
.fileToUploadName,
.fileToUploadSize{
	height:18px;
	line-height:18px;
}
.fileToUpload{
	font-size:12px;
	font-family:sans-serif;
	padding:2px;
	margin:0px;
	width:100%;
}
.fileToUploadName{
	text-align:left;
	width:auto !important;
}
.fileToUploadSize{
	width:30px !important;
	text-align:right;
}
.dj_ie .fileToUploadSize{
	padding-right:20px;
}
.fileToUploadClose{
	background:url(../../../dijit/themes/tundra/images/tabClose.png) no-repeat 2px center;
	width:18px !important;
	cursor:pointer;
}
.fileToUploadClose:hover{
	background:url(../../../dijit/themes/tundra/images/tabCloseHover.png) no-repeat 2px center;
}
.thumb{
	height:50px;
	padding:3px;
	border:1px solid #ccc;
	margin-bottom:3px;
}
.thumbPic{
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	background-color:#000;
	float:left;
}
.thumbPic img{
	line-height:50px;
	margin:auto auto;
	display:block;
}
.thumbText{
	float:left;
	margin-left:5px;
	font-size:10px;
}
.dj_ie object{
	
	display:block !important;
}
