---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Integrations from '../components/Integrations.astro';
import CodeExample from '../components/CodeExample.astro';
import ClientHooks from '../components/ClientHooks.astro';
import Customers from '../components/Customers.astro';
import Satellite from '../components/Satellite.astro';
import Support from '../components/Support.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Atmosphere - Real-time Framework for the JVM">
  <Header />
  <main>
    <Hero />
    <Customers />
    <Integrations />
    <Features />
    <CodeExample />
    <ClientHooks />
    <Satellite />
    <Support />
  </main>
  <Footer />
</Layout>
