<atmosphere-handlers>
    <!-- Associate a context-root (servlet-mapping) to an AtmosphereHandler. 
    Request sent using that context-root will be mapped to its associated AtmosphereHandler 
    -->
    <atmosphere-handler context-root="" class-name="">
        <!-- Define some AtmosphereHandler properties -->
        <property name="" value=""/>
    </atmosphere-handler>
</atmosphere-handlers>
