/* 
    Document   : gwtTest.css
    Created on : 11-mrt-2010, 10:23:02
    Author     : p.havelaar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

#chat,#logger {
    border: 2px solid;
    overflow: scroll;
}
#chat {
    height: 400px;
}
#logger {
    height: 200px;
}
#inputArea {
    margin-top: 15px;
    margin-bottom: 15px;
}