name: Atmopshere 3.x CI

on:
  push:
    branches: [ atmosphere-3.x ]
  pull_request:
    branches: [ atmosphere-3.x ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [17, 21, 25]

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'

    - name: Build and Install (skip tests)
      run: mvn -B install -DskipTests -Dgpg.skip=true --file pom.xml

    - name: Run Tests
      run: mvn -B test -Dgpg.skip=true --file pom.xml
